<a href="https://colab.research.google.com/github/NinjaSSGSS/Dados-sobre-covid-19-na-Bahia/blob/master/Novos_Casos_BA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import plotly.offline as py
import plotly
import plotly.graph_objs as go
import shutil
import os

arquivo = pd.read_csv('/content/drive/My Drive/Git Hub/covid19br/cases-brazil-states.csv')

In [0]:
arquivo.head()

         date country  ... deaths_by_totalCases recovered
0  2020-02-25  Brazil  ...                  0.0       NaN
1  2020-02-25  Brazil  ...                  0.0       NaN
2  2020-02-26  Brazil  ...                  0.0       NaN
3  2020-02-26  Brazil  ...                  0.0       NaN
4  2020-02-27  Brazil  ...                  0.0       NaN

[5 rows x 14 columns]

In [0]:
arquivo.drop(columns = ['country', 'city', 'totalCases', 'deaths_per_100k_inhabitants', 'totalCases_per_100k_inhabitants', 'deathsMS', 'totalCasesMS', ], inplace=True)

In [0]:
arquivo = arquivo.query('state != "TOTAL"')
arquivo = arquivo.query('state == "BA"')
arquivo.reset_index(inplace=True)
arquivo.drop(columns = ['state', 'index'], inplace=True)

In [0]:
arquivo.head()
x_newC = arquivo['date']
y_newC = arquivo['newCases']
y_newD = arquivo['newDeaths']

In [0]:
newCases = go.Line(x=x_newC, y=y_newC, name = 'Novos Casos', mode='lines')
newDeaths = go.Line(x = x_newC, y = y_newD, name = 'Novas Mortes', mode = 'lines')
data = [newCases, newDeaths]
layout = go.Layout(
                   xaxis={'title':'Data(Mês/Dia/Ano)'},
                   yaxis={'title':'Número de Casos/Mortes'},hovermode='x unified')
config = {'displayModeBar':False, 'displayLogo':False, }
figura = go.Figure(data = data, layout=layout)
py.plot(figura, config=config, filename = 'Novos Casos-Mortes de COVID-19 na BA.html')

/usr/local/lib/python3.6/dist-packages/plotly/graph_objs/_deprecations.py:385: DeprecationWarning:

plotly.graph_objs.Line is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.scatter.Line
  - plotly.graph_objs.layout.shape.Line
  - etc.


/usr/local/lib/python3.6/dist-packages/plotly/offline/offline.py:160: UserWarning:


Unrecognized config options supplied: ['displayLogo']

'Novos Casos-Mortes de COVID-19 na BA.html'

In [0]:
if os.path.exists('/content/drive/My Drive/Colab Notebooks/Novos Casos-Mortes de COVID-19 na BA.html') == True:
  os.remove('/content/drive/My Drive/Colab Notebooks/Novos Casos-Mortes de COVID-19 na BA.html')
shutil.move('/content/Novos Casos-Mortes de COVID-19 na BA.html', '/content/drive/My Drive/Colab Notebooks')

'/content/drive/My Drive/Colab Notebooks/Novos Casos-Mortes de COVID-19 na BA.html'